@import url('https://fonts.googleapis.com/css2?family=Ponomar&display=swap');

body {
    margin: 0;
    margin-top: 10px;
    padding: 0;
    max-width: 390px;
    background: lightgreen;
    font-family: "Ponomar", normal;
    font-size: 18px;
}

.header {
    text-align: center;
}

.item {
    text-align: center;
}

.footer {
    text-align: center;
}

img {
    width: 150px;
}

.btn {
    padding: 10 px;
    background: rgb(248,168,25);
    color: #ffffff;
    text-transform: uppercase;
    border-radius: 10px;
    border: none;
}

p {
   color: red;
   font-size: 72px;
   text-align: center;
   background: yellow;
}

input {
    width: 100px;
}

#result {
    text-align:center;
}

#submit {
    padding: 20 px;
    background: rgb(248,168,25);
    color: #ffffff;
    text-transform: uppercase;
    border-radius: 20px;
    border: none;
}

